@font-face {
    font-family: Smiley-Sans;
    src: url(font/Smiley-Sans.ttf);
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    font-size: 15px;
    margin: 0px;
    z-index: 0;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #C8C8C8;
    border-radius: 2.5px;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

::selection {
    background: #38E68C;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    margin: 0px;
}

/* Top-View */
.top-view {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    display: none;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 1fr 300px 1fr;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.top-view-style {
    background-color: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 55px auto;
    grid-area: 2/2/3/3;
    height: 100%;
    width: 100%;
}

.top-view-tag {
    display: grid;
    grid-template-columns: 20px auto 1fr 20px;
    grid-template-rows: 1fr auto 1fr;
    grid-row: 1/2;
}

.top-view-tag-return {
    background-color: #EF8080;
    border-radius: 10px;
    grid-area: 2/2/3/3;
    height: 15px;
    width: 15px;
}

/* Tag */
.tag {
    background-color: #FFFFFF;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 100px auto 100px 1fr;
    grid-template-rows: 1fr 100px auto 100px 1fr;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 400px;
    z-index: 2;
}

.tag-icon {
    grid-area: 3/3/4/4;
}

/* Nav */
.nav {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    display: grid;
    grid-template-columns: 400px 50px auto 1fr 50px 1fr auto 50px;
    grid-template-rows: 1fr 40px 1fr;
    height: 80px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.nav-icon {
    grid-area: 2/3/3/4;
}

.nav-icon-style {
    background-color: #FFFFFF;
    border-radius: 20px;
}

.nav-button {
    grid-area: 2/7/3/8;
}

.nav-button-style {
    background-color: #4080FF;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    width: 80px;
}

/* Blog */
.blog {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 400px 50px auto 50px;
    grid-template-rows: 80px auto 80px;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.blog-style {
    grid-area: 2/3/3/4;
}